body{
    
    background-image: url(../multimedia/red1.jpg);
    background-size: cover;
    background-attachment: fixed;
    @mixin media-up($breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint) ) {
            @content;
        }
    }
  
    @include media-up(sm){
    
   }
}