footer {
    background-color:black;

    .texto-footer {
        display: flex;
        justify-content: center;
    }

    p {
        color: white
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 0;
        align-content: flex-start;
    }

    img {
        width: 40px;
        padding: 4px;
    }
    .derechos-footer{
        display: flex;
        justify-content: space-around;
    }
   .copy{
    color: gray;
   }
}