header{
    #mivideo {
        display: grid;
        justify-content: center;
        top: -10px;
        width: 100%;
        z-index: 100;
        background: white;}
        h1{
            font-size: 30px;
            font-family:'Roboto', sans-serif;
            color: white;
            text-align: center;
            font-weight: 700;
            padding-top: 50px;
            padding-bottom: 50px;
    
        }
        img{
            .marty-flota{ width: 30%;

            }
        }
}